.searchBar {
    padding: 15px;
    margin: 10px;
  }
  
  .videoContainer {
    padding: 15px;
  }
  .MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px;
  text-align: center;
}
  .iframe {
    height: 500px;
  }
  
  .videoItem {
    padding: 15px;
  
    cursor: pointer;
  }
  
  .videoImg {
    width: 100%;
  }
  
  .channelImg {
    height: 100%;
    width: 100%;
    margin: 10px;
    border-radius: 50%;
  }
  .videoItemTitle {
    white-space: normal !important;
  }
  .videomainWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
  }
  .videomainWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .videoItemTitle {
    padding:0px 20px 20px 20px;
    letter-spacing: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .stats {
    padding: 10px 0px 10px 0px;
    color: #606060;
  }
  
  .darkBackground {
    background-color: black;
    color: white;
  }
